label {
  text-transform: uppercase;
  font-size: 11px;
  color: $table-text-primary;
}

input {
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid #c9c9c9;
  color: $table-text-primary;
}

.btn-default.btn-edgeredirector {
  border-color: #b5c2ca;
  background-color: #b5c2ca;
  color: #e8ecef;
  margin-right: 6px;
  &:hover {
    color: #ffffff;
  }

  &.active {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #333333;
    box-shadow: none;
    &:after {
      content: " ";
      background-color: #ffffff;
    }
    // padding-bottom: 1px;
  }
}
